@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    height: 100vh !important;
    margin: 0 !important;
}
body, html {
    --nav-height: 70px; 
    height: calc(100vh - var(--nav-height));
    margin: var(--nav-height) 0 0 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    /* background: url('../assets/k3.jpg') no-repeat center center fixed; */
    /* background-size: cover; */
}

.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 70px;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 10px;
    background:transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(96, 96, 96, .6);
}

header .logo{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: start;
    cursor: pointer;
}
header .logo h2{
    font-size: 35px;
}

header .logo img{
    width: 50px;    
}

header h2{
    padding:0 10px;
    color: rgb(96, 96, 96);
}

.top-button{
    display: flex;
    align-items: center;
    justify-content: end;
}
.top-button p{
    padding-right: 5px;
}

.btn1{
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: rgb(0, 120, 212);
    color: white;
    border: none;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn1:hover{
    background-color: rgb(0, 100, 180);
}

